.e404-push-bottom { height: 75px; }
.e404-footer {
	position: relative;
	width: 100%;
	height: 75px;
	margin-top: -75px;
}
.e404-footer-width {
	width: 1000px;
	margin: 0 auto;
	height: 75px;
}
.e404-footer-developer-logo {
	margin: 0 auto;
	height: 37px;
	width: 72px;
	display: block;
}
