@CHARSET "UTF-8";
@import '/layouts/default/css/fonts.css';
@import 'e404-header.css';
@import 'e404-footer.css';
html, body, img, div, a, span {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	font-family: 'BlissPro', 'Verdana';
	font-size: 12px;
}
html { background: #f7f7fd; }
body{ color: #444444; }
img { border: 0 none; }
a { color: #444; }
a:hover { text-decoration: none; }

.404_clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	font-size: 0;
}
.e404-body {
	width: 100%;
	min-width: 1000px;
	margin: 0 auto;
	height: auto !important;
	height: 100%;
	min-height: 100%;
	background-size: cover;
	position: relative;
}
.e404-body-container {
	min-height: 400px;
}
.e404-modal-container {
	position: absolute;
	top: 10%;
	left: 50%;
	z-index: 99999;
	border: 1px solid #ebf1f6;
	width: 710px;
	height: 80%;
	margin-left: -355px;
	overflow: auto;
}
.e404-modal-wrapper {
	min-height: 100%;
	background: url('/layouts/e404/images/e404-bg.png');
}
.e404-modal-header {
	position: relative;
	width: 100%;
	background: url('/layouts/e404/images/e404-pattern.png');
	padding: 10px 0 0;
	height: 32px;
	text-align: center;
	font-family: 'BlissPro';
	font-size: 16px;
}
.e404-modal-body {
	padding: 8px 25px;
	font-size: 13px;
	font-family: monospace;
}
.e404-pre {
	font-size: 12px;
	margin: 5px 0;
}
.e404-trace-h3 {
	margin: 0;
	padding: 20px 0 0;
	font-size: 16px;
	font-weight: 600;
}
.e404-trace-line {
	font-size: 12px;
	padding: 5px 0;
}

