@CHARSET "UTF-8";

.front-header-menu__item {
	position: relative;
	margin: 5px 12px 0;
	text-align: center;
}
.front-header-menu-dots {
	background: url(/layouts/default/images/point.png) no-repeat center 13px;
	background-position: center 12px\0/IE8+9;
	width: 22px;
}
/*.front-header-menu__item:last-child:after {
	content: url(/layouts/default/images/point.png);
	float: right;
	position: absolute;
	top: 6px;
	right: -15px;
}*/
.front-header-menu__item-href {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	color: #FFF;
	text-shadow: 0 -1px 0 #62861A;
	display: block;
	border-radius: 11px;
	background: transparent;
	position: relative;
	top: 3px;
	padding: 1px;
	font-family: Verdana;
}
.front-header-menu-gradient {
	padding: 2px 10px;
	display: block;
	border-radius: 11px;
}
.front-header-menu__item-href:hover,
.front-header-menu__item-href_active {
	background-color: #4C6D07;
	background-image: linear-gradient(bottom, #B3D673 0%, #456506 51%, #497100 100%);
	background-image: -o-linear-gradient(bottom, #B3D673 0%, #456506 51%, #497100 100%);
	background-image: -moz-linear-gradient(bottom, #B3D673 0%, #456506 51%, #497100 100%);
	background-image: -webkit-linear-gradient(bottom, #B3D673 0%, #456506 51%, #497100 100%);
	background-image: -ms-linear-gradient(bottom, #B3D673 0%, #456506 51%, #497100 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #B3D673),
		color-stop(0.51, #456506),
		color-stop(1, #497100)
	);
	
}
.front-header-menu__item-href_active .front-header-menu-gradient {
	background-color: #456506;
	background-image: linear-gradient(bottom, #5E8908 17%, #456506 54%, #334B04 84%);
	background-image: -o-linear-gradient(bottom, #5E8908 17%, #456506 54%, #334B04 84%);
	background-image: -moz-linear-gradient(bottom, #5E8908 17%, #456506 54%, #334B04 84%);
	background-image: -webkit-linear-gradient(bottom, #5E8908 17%, #456506 54%, #334B04 84%);
	background-image: -ms-linear-gradient(bottom, #5E8908 17%, #456506 54%, #334B04 84%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.17, #5E8908),
		color-stop(0.54, #456506),
		color-stop(0.84, #334B04)
	);

}
.front-header-menu__item-href:hover .front-header-menu-gradient {
	background: #7BA628;
	background: #7B9D3C\0/IE8+9;
}
.front-header-menu__item-href_active:hover .front-header-menu-gradient {
	background-image: linear-gradient(bottom, #5E8908 17%, #456506 54%, #334B04 84%);
	background-image: -o-linear-gradient(bottom, #5E8908 17%, #456506 54%, #334B04 84%);
	background-image: -moz-linear-gradient(bottom, #5E8908 17%, #456506 54%, #334B04 84%);
	background-image: -webkit-linear-gradient(bottom, #5E8908 17%, #456506 54%, #334B04 84%);
	background-image: -ms-linear-gradient(bottom, #5E8908 17%, #456506 54%, #334B04 84%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.17, #5E8908),
		color-stop(0.54, #456506),
		color-stop(0.84, #334B04)
	);
}
