/*footer start*/
.front-push-bottom {
	height: 142px;
}
.front-footer {
	width: 100%;
	height: 140px;
	/*margin-top: -142px;*/
	position: relative;
	z-index: 10;
	background: #EAEFF3;
	border-top: 2px solid #EAEFF3;
}
.front-footer-width {
	width: 850px;
	margin: 0 auto;
	height: 140px;
}
.front-result-box{
	width: 100%;
	position: relative;
    background: url(/layouts/images/main-pattern-dark.png);
}
.front-footer-box {
    margin: 0 auto;
    width: 850px;
}
.front-footer-box-rights {
    background: #FFF;
    height: 50px;
    margin: 0 auto;
    width: 850px;
}
.front-footer-box-line {
    background: url(../images/bottom_footer.png) no-repeat ;
    height: 16px;
    margin: 0 auto;
    width: 850px;
}
.front-footer-box-rights-text{
	text-align: center;
	height: 10px;
	font-size: 11px;
	padding-top: 20px;
}
.front-footer-box-rights-logo{
	text-align: center;
	height: 0;
}
.front-footer-box-rights-logo-a{
	position:relative;
	bottom: 0;
	display: inline-block;
	background: url("/layouts/default/images/logo_sunny.png") no-repeat ;
	width: 72px;
	height: 37px;
    top: 48px;
}

/*footer end*/